body {
    margin: 0;
    padding: 0;
    background-image: url("spaceimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("Space.png");
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: chartreuse;
    font-size: 1.04remrem;
}

.main {
    margin-top: 60px;
    padding: 20px;
    color: #fff;
}

footer {
    display: flex;
    height: 200px;
    color: white;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 16, 203);
}

.footele1 ul {
    display: inline-block;
    justify-content: space-around;
}

.footele2 ul {
    display: inline-block;
    justify-content: space-around;
}

footer ul li a {
    color: #fff;
    transition: 0.3s;
    line-height: 1;
}

footer ul li a:hover {
    color: #cda45e;
}